<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.uasshakealarm">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.REORDER_TASKS" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/logoicon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activty.AppIntroActivity"></activity>
        <activity android:name=".Activty.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>
        </activity>
        <activity android:name=".Activty.ShakeActivity"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity android:name=".Activty.LihatAlarm" />
        <activity android:name=".Activty.MainActivity" />



        <receiver
            android:name=".AppReceiver"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>